* {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	margin: 20px;
}
.partyarc {
	width: 320px;
	float: left;
	padding: 0 20px;
}
.partyarc .title{
	background: url(../../images/a/jg_03.jpg) left no-repeat;
	width: 100%;
	height: 47px;
	float: left;
	line-height: 47px;
	color: #fff;
	text-indent: 40px;
	font-weight: bold;
}
.levl1 {
	width: 100%;
	float: left;
	margin-left: 20px;
}
.levl1>li {
	background: url(../../images/a/jg_07.jpg) left top no-repeat;
	border-left: solid #ff5028 2px;
	background-position-y: 20px;
	padding-left: 25px;
	float: left;
	width: 100%;
	padding-top: 15px;
}
.levl1>li:last-child {
	border-left: none;
	background: url(../../images/a/red_line.jpg) left top no-repeat;
}
.levl1>li>b {
	background: #f95452;
	padding:10px 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-bottom-right-radius: 1.5em;
}

.node {
	background: url(../../images/a/jg_11.jpg) left top no-repeat;
	background-position-y: 15px;
	padding-left: 25px;
	float: left;
	border-left: solid #8dddff 2px;
	width: 100%;
	margin-left: 20px;
	padding-top: 15px;
}
.node>b {
	border: solid #8dddff 1px;
	background: #fff;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #8dddff;
	float: left;
	padding: 0 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-bottom-right-radius: 1.5em;
}
.node>b:hover {
	box-shadow: 0 0 10px 2px #B0DEFF;
}

.leaf>b {
	border: solid #f8c71c 1px;
	color: #f8c71c;
}
.leaf>b:hover{
	box-shadow: 0 0 10px 2px #FFE283;
}

ul>li:last-child {
	border-left: none;
	background: url(../../images/a/blue_line.jpg) left top no-repeat;
}