/*public*/
.fl{float: left;}
.fr{float: right;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}

/*reset*/
li{list-style: none;}
a{text-decoration: none;}
img{border: none;}

body,h1,h2,h3,h4,h5,h6,p,ul,li,form,input,textarea,select,video{margin:0;padding:0;}
video{border: none;}

* {box-sizing: border-box;}
.clearfix:after {content: '.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
body {font-family: "Microsoft YaHei";}
.content {min-width: 1200px;margin: 0 auto;}

.per_header {height: 230px;background: url(../images/portals/per_bg.png) no-repeat center 40px;box-shadow: #979595 0 2px 2px 2px;}
.per_nav_box{width: 100%;background-color: #C00303;}
.per_nav_ul {width: 1200px;height: 40px;line-height: 40px;padding: 0 15px;margin: 0 auto;}
.per_nav_ul li {width: 100px;float: left;text-align: center;}
.per_nav_ul li a {color: #FFFFFF;font-size: 16px;}
.per_nav_selected {background: #9A060E;}
.per_nav_ul li:hover {background: #DD1C20;}

.footer {float: left;width: 100%; margin-top: 15px;}
.friendlink {height: 150px;background: #E5E5E5;text-align: center;}
.friendlink span {height: 50px;line-height: 50px;}
.friendlink_ul {width: 1200px; margin: 0 auto;}
.friendlink li{float:left; padding:0 0 0 16px;}
.company_info{height: 118px;padding: 20px 0;font-size: 14px;text-align: center;line-height: 26px; background: #CCCCCC}

.per_main {width: 1200px;margin-top: 15px;position: relative;}

.per_side {width: 215px;height: 600px; background-image:url(../images/portals/obli_bg.png);box-shadow: #979595 2px 2px 2px 2px;float: left;}

.per_info {padding: 10px;}
.per_headimg {width: 110px;height: 110px;background: #CCCCCC;float: left;}
.per_name {font-size: 14px;float: left;padding-left: 10px;color: #42A5d5;height: 110px;}

.per_menu li {width: 215px;height: 55px;text-align: center;line-height:55px;}
.per_menu li a {color:#666666;font-size:18px;}
.per_menu li a:hover {color:#FF0000;}
.per_menu_selected {background: #FFC681;}

.per_right {width: 950px; margin-left: 15px;float: left;position: relative;}

.scroll_news{height: 30px;width: 100%;border: #e3e3e3 1px solid;box-shadow: #979595 2px 2px 2px 2px;}
.scroll_news span{float:left; height: 30px;line-height: 30px;color: #b81c22;font-size: 16px;padding-left: 10px;margin-right: -70px;}
.scroll_con{height: 30px;line-height: 30px;font-size:9px;padding-left: 10px;float: left;margin-left: 70px;}
.scroll_con a {color: #000000;}
.scroll_con a:hover {color: #FF0000;}

.func_title {width: 100%;margin-top: 15px;background:#F2F2F2;height:110px;}
.func_title_ul {height:110px;padding-top: 15px;}
.func_title_ul li {width: 210px;height: 80px;float:left; margin-left:22px;color: #FFFFFF;cursor: pointer;}
.func_title_ul li .txt {width: 70%;padding: 15px 0 0 20px;font-size: 16px;float: left;}
.func_title_ul li .txt span {font-size: 10px;}
.func_title_ul li .icon {padding-top: 5px;font-size: 45px;}
.func_title_ul li:hover {background: #DD1C20;}
.func1 {background:#53B2C5;}
.func2 {background:#D19CFF;}
.func3 {background:#D59A5F;}
.func4 {background:#44E46F;}

.score {width: 100%;margin-top: 15px;padding-top: 15px;background: #F2F2F2;height: 285px;position: relative;}
.score_chart {width: 674px;height: 255px;margin-left: 22px;float: left;}
.score_right {width: 254px;float: left;padding-left: 22px;}
.myscore {width: 210px;height: 120px;background: #D95356;color: #FFFFFF;cursor: pointer;}
.myscore:hover {background: #DD1C20;}
.myscore .txt {width: 60%;padding: 30px 0 0 20px;font-size: 20px;float: left;}
.myscore .txt span {font-size: 10px;}
.myscore .icon {padding-top: 15px;font-size: 60px;}
.weather {width: 210px;height: 120px;background: #73A0DC;margin-top: 15px;cursor: pointer;}
.weather:hover {background: #DD1C20;}
.weather_inc {width: 210px;height: 120px;margin-top: 25px;}

.mylife {width: 100%;margin-top: 15px;background: #F2F2F2;height: 130px;padding-top: 10px;}
.lifedetails {width: 674px;margin-left: 22px;background: #FFFFFF;height: 110px;float: left;}
.life_title {height:25px;line-height: 25px;background:#CCCCCC;font-size: 14px;padding-left: 10px;}
.life_title a {color:#666666;}
.life_title a:hover {color:#FF0000;}
.life_title span {float: right;padding-right: 10px;}
.life_list {width: 100%;padding-top: 2px;}
.life_list li {height: 27px;padding-left: 15px;font-size: 12px;line-height: 27px;}
.life_list li i {color: orange;}
.life_list li a {color:#666666;}
.life_list li a:hover {color:#FF0000;}
.life_list li span {float: right;padding-right: 15px;}
.mylife_right {width: 254px;height:110px;float: left;padding-left: 22px;color: #FFFFFF;}
.mylife_password {width: 210px;height: 50px;background: #42A5D5;cursor: pointer;}
.mylife_record {width: 210px;height: 50px;background: #B9D953;margin-top: 10px;cursor: pointer;}
.mylife_password:hover {background: #DD1C20;}
.mylife_record:hover {background: #DD1C20;}
.mylife_password .txt {width: 70%;padding: 5px 0 0 20px;font-size: 16px;float: left;}
.mylife_password .txt span {font-size: 9px;}
.mylife_password .icon {padding-top: 10px;font-size: 25px;}
.mylife_record .txt {width: 70%;padding: 5px 0 0 20px;font-size: 16px;float: left;}
.mylife_record .txt span {font-size: 9px;}
.mylife_record .icon {padding-top: 10px;font-size: 25px;}
	


/*以上已经调整过*/






.right{
display:block;}

.right_dangan{
display:none;}

.right_pay{
display:none;}

.right_portals{
display:none;}

.rigth_notice{
display:none;}

.rigth_activity{
display:none;}

.right_integral{
display:none;}

.right_study{
display:none;}

.dangan_zl{
background-color:#E1E1E3;
margin-left:250px;
height:40px;
line-height:40px;}

.dangan_detail{
width:100%;
font-size:18px;
color:#999999;
height:800px;
}


.td_title{
width:300px;
text-align:right;}

.td_con{
width:300px;
height:60px;
text-align:left;}

.td_con input{
height:30px;
width:200px;
}

.detail_title{
background-color:#E1E1E3;
margin-left:250px;
height:40px;
line-height:40px;
margin-top:15px;
font-size:16px;
color:#FF0000;
font-weight:bold;}

.pay_date{
margin-left:0px;
}
.pay_style{
margin-left:350px;}
.pay_money{
margin-left:350px;}

.money_right{
width:100px;
text-align:center;}

.li_date{
width:370px;}

.detail_li td{
height:30px;}

.detail_box{
border-bottom: 1px dashed #FF0000;
margin-top:20px;
padding-bottom:8px;
padding-top:5px;
list-style-type:disc;
}

.notice_detail{
box-shadow: 3px 3px 3px #979595;
height:150px;
margin-left:250px;
}

.box_date{
float:right;
margin-right:20px;}

.notice_detail a{
height:35px;
width:100px;
background-color:#F0A84F;
float:right;
margin-right:10px;
text-align:center;
line-height:35px;
border-radius:10px;
color:#FFFFFF;}

.notice_detail a:hover{
color:#E0241F;
}

.detail_box{
}

.box_title{
font-size:18px;
font-weight:bold;}

.box_desc{
margin-top:10px;}

.activity_detail{
box-shadow: 3px 3px 3px #979595;
height:150px;
margin-left:250px;
}
.activity_pic{
float:left;
width:150px;;
height:150px;
margin-top:15px;
margin-left:0px;}

.activity_con{
float:left;
margin-top:20px;
margin-left:5px;
height:100px;
width:600px;
color:#979797;}

.activity_con li{
line-height:30px;}

.activity_con a{
color:#979797;}

.activity_con a:hover{
color:#ED691B;}

.activity_time{
margin-left:50px;}

.now_integral{
float:left;
margin-top:10px;
height:200px;
width:350px;
background-color:#E1E1E3;}

.now_integral h4{
padding-left:10px;
padding-top:15px;}

.per_integral{
width:350px;
text-align:center;
line-height:100px;
height:100px;
color:red;
font-size:30px;}

.integral_prompt{
font-size:14px;
color:#999999;}

.obtain_integral{
float:right;
margin-top:10px;
height:200px;
width:540px;
background-color:#E1E1E3;
}

.obtain_integral h4{
padding-left:10px;
padding-top:15px;}

.golearn_img{
text-align:right;}

.obtain_integral a{
height:35px;
width:80px;
background-color:#F0A84F;
float:right;
margin-right:50px;
text-align:center;
line-height:35px;
border-radius:10px;
color:#FFFFFF;
}

.obtain_integral a:hover{
color:#E0241F;
}

.record_integral{
clear:right;
margin-left:250px;
margin-top:220px;
height:340px;
width:950px;
background-color:#E1E1E3;
}

.record_integral h4{
padding-top:15px;}

.record_integral li{
box-shadow: 0 2px 2px #979595;
line-height:60px;
font-size:18px;
color:#CCCCCC;
}

.integral_title{

display:inline-block;
width:300px;
}

.integral_count{
color:red;
display:inline-block;
text-align:center;
width:200px;
}

.integral_date{
display:inline-block;
width:300px;
text-align:right;
margin-right:30px;
}

